body {
    font-family: 'Inter', sans-serif;
    background-color: rgba(14, 80, 44, 0.623);
    height:fit-content;
    margin: 0px 10% ;
    box-shadow: 2px 2px 10px rgb(105, 101, 101);
}
ul {
    font-size: 25px;
    display: inline-block;
}
main{
    background-color: #ffffff;
}
.Switch {
    font-size: 25px;
    color: rgb(228, 30, 30);
    margin-top: 100px;
    margin-right: 500px;
}
table, td {
    border: 1px solid;
    border-collapse: collapse;
}
table{
    width: auto;
    height: 200px;
    text-align: center;
    background-color: white;
    
}
tr:nth-child(even) {background-color: #f2f2f2;}

header {
    height: 90px;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 117, 117);
    box-shadow: 2px 2px 10px rgb(105, 101, 101);
  }
  header a{
    font-family: 'Cairo', sans-serif;
    color: rgb(248, 213, 97);
  }
header img{
    height: 70px;
    width: 200px;
}
header div p{
    text-align: center;
    margin-top: 0;
    color: salmon;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    width: 120px;
    height: auto;
    display: inline-block;
    margin: auto 60px auto 60px;
    text-align: center;
    font-weight: bold;
    color: rgb(235, 232, 227);
    text-shadow: 1px 1px 1px rgb(46, 45, 45);
    text-decoration: none;
    
  }
 
  h2 {
    color: salmon;
    text-shadow: 1px 1px 1px rgb(32, 32, 32);
    font-size: 30px
 }

 h3 {
    color: #f2f2f2;
    text-shadow: 1px 1px 1px rgb(32, 32, 32);
    font-size: larger;
 }
#hero {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color: salmon;
    text-shadow: 1px 1px 1px black
}
h1 {
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
#hero img{
    max-width: 60%;
}
hr.rounded{
border-top: 8px solid rgb(14, 117, 117);
  border-radius: 5px;

}
#merch img{
    height: 75%;
}
img {
    border-radius: 20px ;
}
section {
    margin-top: 30px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    
    
}
section img{
    margin: 15px;
}
#next {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 60px;
    
}
#next>aside{
    background-color: rgba(14, 117, 117, 0.805);
    box-shadow: 2px 2px 10px rgb(105, 101, 101);
    border-radius: 20px;

}
#aside1{
    display: inline-block;
    width: 400px;
    height: 400px;
    border: thin solid black;
    vertical-align: top;
    object-fit: contain;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
    
}
#aside1 img{
    width: 70%;
    height: 70%;
    margin-top: 50px;
    border-radius: 20px;
    border: thin solid black;

}
#aside2{
    display: inline-block;
    width: 400px;
    height:300px;
    border: thin solid black;
    vertical-align: top;
    text-align: center;
    margin-left: 15px;
}
#aside2 > *{
    margin: 5px;
    color: #f2f2f2;
    text-shadow: .5px 1px 1px black
    
}
#aside2 p{
    font-size: 30px;
    
}
footer{
    height: 100px;
    background-color: rgb(14, 117, 117);
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(105, 101, 101);
    
}
footer>p{
    display: inline-block;
    vertical-align: top;
    color: #f2f2f2;
}
#button{
    
    size: 50px;
    background-color: rgb(14, 117, 117);
    width: 250px;
    height: 75px;
    border-radius: 50px;
    text-align: center;
    padding: 30px;
    height: auto;
    box-shadow: 2px 5px 4px rgb(73, 69, 69);
    margin-top: 60px;
   
}
section div{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(14, 117, 117, 0.805);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(105, 101, 101);
    font-size: 20px;
}
#donate{
    display: block;
    
}
#donate> a {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
   

}
#family{
    width: 500px;
    height: 375px;
    background-color:rgba(14, 117, 117, 0.805);

    
}
#family img{
    max-width:90%;
    object-fit:cover;
    border: solid thin black;
    align-items: center;
}

#bye{
    color: salmon;
    margin-top: 10px;
    size: 60px;
}

table{
    margin: auto;
    font-family : Arial, Helvetica, sans-serif;
}
form{
    margin: auto;
}
.sales{
    background-color: #f6f6f6;
    height: 100%;
    text-align: center;

}
.sales h1{
    color: salmon;
}
article {
    background-color: rgba(14, 117, 117, 0.805);
    margin: auto;
}
fieldset{
    text-align: center;
    height:60px;
    margin-top: 30px;
    padding: 3px;
}
button {
margin-top: 15px;}
